.table {
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	margin: 20px;
}

.table__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ccc;
	color: #000;
}

.table h2 {
	margin: 0;
	font-size: 18px;
}

.table__checkbox {
	display: flex;
	align-items: center;
}

.table__body {
	padding: 10px;
}

.table__row {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.table__row_selected {
	background: #cccccc;
}

.table__cell {
	flex: 1;
}

.table__checkbox input {
	margin-right: 5px;
}

.table__checkbox input:checked + label {
	font-weight: bold;
}

.table__cell p {
	font-size: 14px;
}

.table__row.selected {
	background-color: #e6f7ff;
}